<nav class="container-fluid navbar navbar-expand-lg home-nav-fluid">
    <div class="container home-nav-container">
        <a class="navbar-brand" href="#">
            <img class="home-nav-img" src="./images/logo_bbva_blanco.svg">
        </a>
        
        <span class="home-nav-respon">Menu</span>
        <button class="navbar-toggler home-nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="home-nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 260" height="24px" width="24px">
                <g>
                    <polygon class="bbvaicn" points="210.37 80.12 20.37 80.12 20.37 50.12 240.37 50.12 210.37 80.12"></polygon>
                    <polygon class="bbvaicn" points="180.37 145.12 20.37 145.12 20.37 115.12 210.37 115.12 180.37 145.12"></polygon>
                    <polygon class="bbvaicn" points="150.37 210.12 20.37 210.12 20.37 180.12 180.37 180.12 150.37 210.12"></polygon>
                </g>
            </svg>
        </button>

        <div class="collapse navbar-collapse home-nav-sections" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 mb-2 mb-lg-0 home-nav-list">
                <li class="nav-item home-nav-item active">
                    <a class="nav-link home-nav-link active" aria-current="page" href="#">PERSONAS</a>
                </li>
                <li class="nav-item home-nav-item">
                    <a class="nav-link home-nav-link" href="#">EMPRESAS</a>
                </li>
            </ul>

            <ul class="navbar-nav me-4 mb-2 mb-lg-0 home-nav-list">
                <li class="nav-item home-nav-card-item">
                    <a class="nav-link home-nav-card" href="/aforo">
                        <svg class="home-nav-icon home-nav-card-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg>
                        <span style="font-weight: 600;">Chapa tu ofi</span>
                    </a>
                </li>
            </ul>

            <div class="dropdown me-4">
                <button class="btn btn-secondary dropdown-toggle home-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SERVICIOS
                </button>
                <ul class="dropdown-menu home-nav-dropdown">
                    <li class="dropdown-item home-nav-card-item">
                        <a class="nav-link home-nav-card" href="#">
                            <svg class="home-nav-icon home-nav-card-icon" xmlns="http://www.w3.org/2000/svg" id="b3c87a6d-227a-4cac-b89f-b132176f6014" data-name="Blue" viewBox="0 0 260 260">
                                <g id="ecc63e73-bfe2-4ff2-90ed-6d17caa880ef" data-name="Card">
                                    <path id="edea3f2a-1e86-4f8b-8f9c-fc6bc7acd140" data-name="Icon" class="a3ab023b-8dfa-40ed-8237-c194aa9925a4" d="M10,107.5H184.55L206.36,85H10V51.26A11,11,0,0,1,20.94,40H239.06A11.08,11.08,0,0,1,250,51.26V208.74A11,11,0,0,1,239.06,220H20.94A11.08,11.08,0,0,1,10,208.74Zm141.82,56.25v22.5h43.63l21.82-22.5Z"/>
                                </g>
                            </svg>
                            <span>Obten tu Tarjeta de Credito</span>
                        </a>
                    </li>
                    <li class="dropdown-item home-nav-card-item">
                        <a class="nav-link home-nav-card active" href="#">
                            <img class="home-nav-icon" src="./images/savings.svg">
                            <span>Abre tu cuenta</span>
                        </a>
                    </li>
                </ul>
              </div>
            <div class="home-button-container">
                <button class="btn btn-lg home-button">
                    Banca por Internet
                </button>
            </div>
            <div class="home-search-container">
                <svg class="home-nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 260" height="20px" width="20px">
                    <path class="bbvaicn" d="M182.85 162.85a90 90 0 1 0-20 20L220 240l20-20zM150 110a40 40 0 0 0-40-40V50a60 60 0 0 1 60 60z"></path>
                </svg>
            </div>
            <div class="home-nav-menu">
                <span>Menu</span>
                <svg class="home-nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 260" height="24px" width="24px">
                    <g>
                        <polygon class="bbvaicn" points="210.37 80.12 20.37 80.12 20.37 50.12 240.37 50.12 210.37 80.12"></polygon>
                        <polygon class="bbvaicn" points="180.37 145.12 20.37 145.12 20.37 115.12 210.37 115.12 180.37 145.12"></polygon>
                        <polygon class="bbvaicn" points="150.37 210.12 20.37 210.12 20.37 180.12 180.37 180.12 150.37 210.12"></polygon>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</nav>