.map-table-subtitle {
    margin-top: 2rem;

    font-size: 1rem;
    font-weight: 500;
}

.buscador {
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-map {
    margin: 0;    
    border-radius: 1rem;
    outline: none;
}

.cuerpo-oficina p {
    margin: 0;
}

.oficinas {
    position: absolute;
    top: 4.5rem;
    left: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 0;
}

.oficina {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #00000040;

    background-color: #fff;
}

.cuerpo-oficina-aforo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.titulo-oficina{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}


.oficina hr{
    margin: 0 0 6px 0;
}

.map-info-leyenda {
    padding: 1.5rem;
    border-radius: 1rem;

    background-color: #FFF;
    box-shadow: 0px 4px 4px #00000040;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: absolute;

    bottom: 1rem;
    right: 10rem;
}

.map-info-leyenda-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.menu-button{
    width: 40px;
    height: 40px;
    text-align: center;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.5rem 0rem;
    display: none;
}

@media only screen and (max-width: 600px) {
    .menu-button{
        display: flex;
    }
    .container-oficinas {
        height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }
    .container-oficinas.active {
        height: auto;
    }
}